package ${package}.${moduleName}.dao;

import ${package}.${moduleName}.entity.${className};
import org.apache.ibatis.annotations.Mapper;
import java.util.List;
import com.upedge.common.base.Page;

/**
 * @author ${author}
 */
public interface ${className}Dao{

    ${className} selectByPrimaryKey(${className} record);

    int deleteByPrimaryKey(${className} record);

    int updateByPrimaryKey(${className} record);

    int updateByPrimaryKeySelective(${className} record);

    int insert(${className} record);

    int insertSelective(${className} record);

    int insertByBatch(List<${className}> list);

    List<${className}> select(Page<${className}> record);

    long count(Page<${className}> record);

}
