HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
*/.idea
*.iml
*.yml
*.project
*.classpath
*.settings/



**.settings/
**.project
**.classpath
**/.idea

**/**/.idea
**/**.settings/
**/**.project
**/**.classpath

.txlcn/

*.log.zip
*zuul.log